/* Styling for index.html */ 
body {
    background: radial-gradient(circle, rgb(207, 178, 178), rgb(255, 255, 255));

  }
  /*trying out classes*/ 
  .blushh3 {
    color:hsl(4, 32%, 58%);
  }
  /*units*/ 
  .em{ 
      font-size: 1.3ex;
      line-height: 0.5in;
      text-align: end;
    
  }
  .vw {
    width: 25vw;
    font-size: 15pt; 
  }
  /* box */ 
  .boxmeme{
    border-width: 10px;
    border-style: dotted; 
    border: radius 0;
    border-color: #18150c;
    background-color: rgba(242,210,117,255);
    padding: 30px,50px,30px,50px;
    margin: 5px,5px,5px,5px;
    width: 250px;
    height: 150px;
    overflow: hidden;
    background-size:contain;
    background-repeat:no-repeat;
  }

  /*inline*/
  span.a{
    display: inline; /* the default for span */
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px double rgb(100,88,52);  
    background-color: rgba(234,173,166,255); 
  }
  /*block*/ 
  span.b{
      display: block; 
      text-align: center;
      font-size:60pt;
      width: 100px;
      height: 100px;
      padding: 5px; 
      border: 1px double rgb(100,88,52);
      background-color: rgba(234,173,166,255); 
  }

  /*sizing*/ 
  p.max{
      max-width: 30%;
  }
  ol.max{
      max-width: 30%;
  }

  /*position*/
  div.static{
      position: static; 
      width: 113px; 
      height: 135px; 
      border:5px solid hsl(4, 32%, 58%)
  }
  div.relative{
      position: relative; 
      left: 30px;
      width: 200px;
      height: 200px;
      border: 10px solid rgb(140,188,100,.4);

  }

  .rect {
    width: 250px;
    height: 270px;
    background: rgb(181,166,80,0.445);
    padding-top: 45px;
    margin-bottom: 75px;
  }
  .rect1 {
    width: 250px;
    height: 270px;
    background: rgba(100, 88, 52, 0.486);
    padding-top: 45px;
    margin-bottom: 75px;
  }
  h1 {
    color: #f8e4de;
    margin-left:5px;
    background: url(https://64.media.tumblr.com/5b45569b9efcc5db9c0539beefebbf2a/tumblr_n8kynx56bR1tgeiymo1_1280.png);

  }

  h2 { 
      color: hsl(45, 32%, 30%);
      background-color: rgba(214,174,172,255);
      margin-top: 20px;

      text-align:center;
  }

  h3{
      width: 10em; 
      background-color: blanchedalmond;
      color:  hsl(4, 32%, 58%);
      text-decoration: underline;
      text-decoration-color: rgb(235,142,137,1);
      
  }
